<!-- -*- mode: XML -*- -->
<launch>    
        <arg name="scen" default="scenario_1"/> 

	<arg name="scenarios_folder_url" value="$(find smartest)/work_space/$(arg scen)"/>
	<arg name="world_models_folder_url" value="$(find smartest)/world_components_models"/>
	<arg name="world_name" value="$(arg scenarios_folder_url)/scenarioEnv.world"/>
	<arg name="pause" value="-u"/>
	<arg name="record" value="-r"/>
	<arg name="record_file_path" value="-O $(arg scenarios_folder_url)/scen_rec.bag"/>
        <arg name="SFV_file_url" value="$(arg scenarios_folder_url)/scen.SFV"/>


        <include file="$(find robil2conf)/frameworkInit.launch" />
        <rosparam command="load" file="$(find robil2conf)/debug.yaml" />
<!-- Mission -->
	<node name="mission_bag_player" pkg="rosbag" type="play" args="-d 60 $(arg scenarios_folder_url)/scenarioMission.bag" output="screen" />

        
<!-- grader -->
        <include file="$(find bobcat_model)/launch/TF_pub_for_static_arm.launch" />

	<node pkg="smartest" type="grader_node" name="grader_node" output="screen" args="$(arg scenarios_folder_url) $(arg SFV_file_url)" />

<rosparam command="load" file="$(find robil2conf)/debug.yaml" />

<!-- PLP Monitoring - data gathering 
       <node pkg="plp_waypoint" type="PlpWaypointRosHarness.py" name="plp_waypoint" output="screen" args="-monitor -capture $(arg scenarios_folder_url)/capture.txt" />
-->

<!-- start RosBag recording -->
	<node name="rosbag_recorder" pkg="rosbag" type="record" args=" --all $(arg record_file_path) --exclude /SENSORS/CAM/(.*)|/Sahar/(.*)|/PER/Map|/WSM/(.*)|/flea3/(.*)|/right_sick/(.*)|/left_sick/(.*)|/gazebo/model_states|/clock" /> 

	
<!-- start RViZ  -->
	<node name="robil2rviz" type="robil2rviz" pkg="robil2rviz" output="screen"/>	
	
	
	
</launch>





