*build*
*devel*
*CMakeFiles*
*catkin_generated*
/src/SRVSS/work_space/
*~
*.pyc
/install/*
*.project
*.cproject
CMakeCache.txt
CTestTestfile.cmake
*/*/gtest/*
Makefile
cmake_install.cmake

*.user
*work_space*