<!-- -*- mode: XML -*- -->
<launch>

    
     <arg name="SFDP_file_url" value="$(find SRVSS)/SFDP/test.SFDP"/>
     <arg name="SFV_file_url" value="$(find SRVSS)/SFV/test.SFV"/>
     <arg name="scenarios_folder_url" value="$(find SRVSS)/scenarios/"/>
     
  <node pkg="srvss_pkg" type="srvss_wp_driver_node" name="srvss_wp_driver_node" args="-file $(arg scenarios_folder_url)/myMission.txt" />

  <node pkg="srvss_pkg" type="srvss_greader_node" name="srvss_greader_node" />
 
</launch>
