<!-- -*- mode: XML -*- -->
<launch>

    
     <arg name="SFDP_file_url" value="$(find SRVSS)/SFDP/test.SFDP"/>
     <arg name="SFV_file_url" value="$(find SRVSS)/SFV/test.SFV"/>
     <arg name="scenarios_folder_url" value="$(find SRVSS)/scenarios/"/>

     
  <param name="robot_description" command="cat $(find srvss_pkg)/bobcat_model/BOBCAT.URDF" />

  <!-- ros_control clam launch file -->
  <include file="$(find srvss_pkg)/launch/srvss_bobcat_controllers.launch" />

  <node pkg="srvss_pkg" type="srvss_rate2effort_node" name="srvss_RateToEffort_node"   cwd="node" output="screen" />

  <node pkg="tf" type="static_transform_publisher" name="sick_link_broadcaster" args="1 0 0.2 0 0 0 body front_sick 100" />

</launch>
