<!-- -*- mode: XML -*- -->
<launch>    

	<arg name="scen" default="scenarios/scenario_1"/> 

	<arg name="scenarios_folder_url" value="$(find SRVSS)/$(arg scen)"/>
	<arg name="world_name" value="$(arg scenarios_folder_url)/scenarioEnv.world"/>
	<arg name="pause" value="-u"/>
	<arg name="record" value="-r"/>
	<arg name="record_file_path" value="-O $(arg scenarios_folder_url)/scen_rec.bag"/>


<!-- synchronizing ros to gazebo -->
	<param name="/use_sim_time" value="true" />

<!-- start gazebo server-->
	<node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen" args="$(arg pause) $(arg world_name)" />
	

<!-- start gazebo client -->
	<node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>


<!-- Robil2 -->
	<param name="robot_description" command="cat $(find bobcat)/urdf/live_BOBCAT.URDF" />
	<include file="$(find bobcat_gazebo)/launch/bobcat_gazebo_control.launch" />
	<node name="RateToEffort" pkg="rate2effort" type="rate2effort" cwd="node" output="screen" />
	<include file="$(find robil2conf)/frameworkInit.launch" />
 

<!-- start RosBag recording -->
	<node name="rosbag_recorder" pkg="rosbag" type="record" args="-a $(arg record_file_path)" />


</launch>
