<!-- -*- mode: XML -*- -->
<launch>    


     <arg name="scenario" default="scenario_1"/> 
    
     <arg name="SFDP_file_url" value="$(find SRVSS)/SFDP/test.SFDP"/>
     <arg name="SFV_file_url" value="$(find SRVSS)/SFV/$(arg scenario).SFV"/>
     <arg name="scenarios_folder_url" value="$(find SRVSS)/scenarios/$(arg scenario)"/>

<!--
     <node pkg="SRVSS" type="mainGen" name="SRVSS_gen_node" args="-gen $(arg SFDP_file_url) $(arg SFV_file_url)" />
     <node pkg="SRVSS" type="mainGen" name="SRVSS_run_node" args="-run $(arg SFV_file_url) $(arg scenarios_folder_url)" />    
-->
     
 <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>



  <!-- We resume the logic in empty_world.launch -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(arg scenarios_folder_url)/env.world"/>
  </include>



<!-- Robil2 -->
  <param name="robot_description" command="cat $(find bobcat)/urdf/live_BOBCAT.URDF" />
  <include file="$(find bobcat_gazebo)/launch/bobcat_gazebo_control.launch" />
  <node name="RateToEffort" pkg="rate2effort" type="rate2effort" cwd="node" output="screen" />



</launch>
