<!-- -*- mode: XML -*- -->
<launch>    

     <arg name="ScenNum" default="2"/> 
    
     <arg name="SFDP_file_url" value="$(find SRVSS)/SFDP/robil2.SFDP"/> 
     <arg name="resource_file_url" value="$(find SRVSS)/resource/resource_robil2.xml"/> 
     <arg name="work_space_folder_url" value="$(find SRVSS)/work_space/"/>

     <!-- setting PYTHON PATH variable to load Python Interfaces scripts -->
     <env name="PYTHONPATH" value="$(env PYTHONPATH):$(find SRVSS)/scripts"/>

     <node pkg="SRVSS" type="mainGen" name="SRVSS_Multiple_Scenarios_GenRun" args="-MultipleScensGenRun $(arg SFDP_file_url) $(arg work_space_folder_url) $(arg resource_file_url) $(arg ScenNum)" output="screen"/>

     <node name="robil2rviz" type="robil2rviz" pkg="robil2rviz" output="screen"/>

</launch>
