<!-- -*- mode: XML -*- -->
<launch>    

	<arg name="scen" default="work_space/scenario_1"/> 

	<arg name="scenarios_folder_url" value="$(find smartest)/$(arg scen)"/>
	<arg name="world_models_folder_url" value="$(find smartest)/world_components_models"/>
	<arg name="world_name" value="$(arg scenarios_folder_url)/scenarioEnv.world"/>
	<arg name="pause" value="-u"/>
	<arg name="record" value="-r"/>
	<arg name="record_file_path" value="-O $(arg scenarios_folder_url)/scen_rec.bag"/>
        <arg name="SFV_file_url" value="$(arg scenarios_folder_url)/scen.SFV"/>

<!-- setting gazebo path for scenario platform and sensors models -->
	<env name="GAZEBO_MODEL_PATH" value="$(arg world_models_folder_url):$(arg scenarios_folder_url)/scenarioSystemModels"/>

<!-- synchronizing ros to gazebo -->
	<param name="/use_sim_time" value="true" />

<!-- start gazebo server-->
	<node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen" args="$(arg pause) $(arg world_name)" />

	
<!-- start gazebo client -->
	<node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>


<!-- srvss_Dumy -->
	<include file="$(find srvss_bobcat)/launch/srvss_bobcat.launch"/>
	<node pkg="srvss_wp_driver" type="srvss_wp_driver_node" name="srvss_wp_driver_node" args="-file $(arg scenarios_folder_url)/scenarioMission.txt" output="screen" />


<!-- start RosBag recording -->
	<node name="rosbag_recorder" pkg="rosbag" type="record" args="-a $(arg record_file_path)" />


<!-- grader -->
	<node pkg="smartest" type="grader_node" name="grader_node" output="screen" args="$(arg scenarios_folder_url) $(arg SFV_file_url)" />

</launch>
