<?xml version="1.0"?>
<!-- Written By : Sagi Vald -->
<model>
  <name>Hamvee</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Sagi Vald</name>
    <email>sagivald@gmail.com</email>
  </author>

  <description>
    A model of a Hammer
  </description>

</model>
